* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/* typography and icons */
.name{
    margin: auto auto auto 0;
    margin-top:15px;
   
}
.tittle {
    color: #ef7053;
}

h1 {
    color: #fcb244;
    margin-bottom: 10px;
    font-size: 20px;
}

i {
    font-size: 15px;
    cursor: pointer;
}

.fa-solid {
    color: #999;
}

.liked {
    color: red;
}

.reposted {
    color: limegreen;
}

/* layout */
header{
    width: 290px;
    position: relative;
    margin: 0 auto;
}
main,
.header-container {
    width: 290px;
    margin: 0 auto;
}
main{
    padding-top: 75px;
}
.header-container {
    padding: 10px 0px 10px 10px ;
    display: flex ;
    gap: 3px;
    margin-bottom: 20px;
    background-color: #e3e1e1;
    position: fixed;

}

.post-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */
textarea {
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

button {
    background-color: #fac373;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

button:active {
    background-color: #ef7053;
    transform: translateY(1px);
}

/* post */
.post {
    border-top: 1px solid lightgray;
    padding: 20px 0;
    width: 100%;
    background-color: rgb(236, 239, 243);
}

.post-inner {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.post-details {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.post-detail {
    display: flex;
    gap: 4px;
}

.post-reply {
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle {
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.post-text {
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */
.profile-pic {
    border: 1px solid #e3e1e1;
    border-radius: 100%;
    width: 45px;
}

/* utility */
.hidden {
    display: none;
}
.imglogo{
    border-radius: 100%;
    width: 45px;
    background-color:transparent;
    border: none;
}
.chatbox-bg {
    background-color: #e3e1e1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    display: flex;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(100px); 
    z-index: 1000;
}

.chatbox-img {
   width: 50%; 
   margin: auto;
}

